h1 class="title" Finda.pw

button id="gen_button" Generate

table id="passwords"
  thead
    tr
      th password
      th strength
      th entropy

p id="copyright_slug" class="footer"
  | <br>Colour pallet designed by <a href="http://www.colourlovers.com/lover/tekiegirl/">tekiegirl</a> and shared under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC-BY-NC-SA</a>

coffee:
  (($) ->
    $.ajax
      url: '/api/version'
      type: 'get'
      dataType: 'json'
      error: (jqXhr, status, error) ->
        console.log error
      success: (data) ->
        markup = 'The Finda.pw application version ' + data["version"] + ' was created with love by Alex Loren'
        $('#copyright_slug').prepend markup
  ) jQuery

coffee:
  (($) ->
    $('#gen_button').click ->
      $.ajax
        url: '/api/generate'
        type: 'get'
        dataType: 'json'
        error: (jqXhr, status, error) ->
          console.log error
        success: (data) ->
          markup = '<tr>'
          markup += '<td>' + data["password"] + '</td>'
          markup += '</tr>'
          $(markup).prependTo('#passwords')
  ) jQuery