body {
    background: #FEFEFE;
}

tr:nth-child(odd) {
    background: #FEFEFE;
}

tr:nth-child(even) {
    background: #FDFDFD;
}

td {
    color: #222222;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: inherit;
}

a:hover {
  color: #83D0B0;
}

.weak_password {
    font-style: italic;
    font-weight: bold;
    color: #CE534D;
}

.strong_password {
    font-weight: bold;
    color: #D6F068;
}

.title {
    font-size: 6em;
    color: #778DA5;
}

.sidebar {
  border-right-color: #83D0B0;
  border-right-style: solid;
  border-right-width: thick;
}

.just_right {
  text-align: right;
  padding-right: 2em;
}

.footer {
    font-size: 0.7em;
}

.heart {
  color: #CE534D;
  font-weight: bold;
}

.hide {
  visibility: hidden;
}
